/* Menu */

.dropdown-menu, nav#navbar-main li.nav-item {
	font-size: 1rem; /* font size menu */
}

/* Logo menu bar */
.navbar-brand, .navbar-nav li.nav-item a.nav-link {
	height: inherit;
	line-height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-brand img {
	max-height: 45px;
}

/* Headers */
h1 {
    font-size: 2rem;
}

/* Home Panels */
.home-section {
    padding: 50px 0;
}

/* Citation Popup */
.modal-dialog {
    max-width: 750px;
    margin: 1.75rem auto;
}
