/* Color variables: match color_theme in params.toml and /data/themes */

:root{
  /* Primary */
  --primary : #a51e37;
  --primary_light : #a51e37;
  --primary_dark : #32414b;

  /* Menu */
  --menu_primary : #a51e37;
  --menu_text : #f2f2f2;
  --menu_text_active : #b4a069;
  --menu_title : #f2f2f2;

  /* Footer */
  --footer_text : #ffffffa1;

  /* Home sections */
  --home_section_odd : #ffffff;
  --home_section_even : #f2f2f2;
}

/*  FOOTER BAR  */

footer {
  background-color: var(--primary_light);
  /* Fixing academic.css line 979  */
  margin: 64px 0 0;
  padding: 32px 0;
}

#botbar1{
  background-color: var(--menu_text_active);

  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  z-index: 9;
  height: 7px;
}

/* Kludge for overscrolling */
/* Color the background */
body {
  background-color: var(--primary_light);
}

/* Fix background color for pages (publications, posts, talks, ...) */
div.pub {
  background-color: var(--home_section_odd);
}
article {
  background-color: var(--home_section_odd);
}

/* FOOTER  */

footer {
  /* margin: 4rem 0 0;
  padding: 2rem 0; */
  width: 100%;
}

footer p {
  /* font-size: 0.75rem; */
  text-align: left;
}

.site-footer,
footer a#back_to_top i {
  color: var(--footer_text);
}

footer a:link {
  color: var(--menu_text_active);
}
footer a:visited {
  color: var(--menu_text_active);
}

/*  FOOTER 3 Column  */

#footer-columns{
  margin-top: 0rem;
  padding-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: .75rem;
  padding-bottom: 25px;
}

#footer-columns img{
  max-width: 125px;
  opacity: .5;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
